# python
myenv/
.env
.vscode/

# local docs
Readme.dev.md

# old
*data*.json
test_tavily.py
test2.py
*.yml
__pycache__/
test_url.py
test_crawl.py
test_regex.py
*test*.py


# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node and angular
node_modules/
npm-debug.log
yarn-error.log
.angular


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# secrets
secrets/
certs/
*.key
*.crt
*.csr
*.srl