<div class="relative w-40 h-40 group">
    <img
        [src]="imageUrl()"
        alt="Preview"
        class="w-full h-full object-cover rounded-lg shadow-lg transition-transform duration-300 group-hover:scale-105"
        width="160"
        height="160"
    />
    <button
        (click)="deleteComponent.emit()"
        class="absolute top-2 right-2 p-1.5 bg-red-500 text-white rounded-full shadow-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        aria-label="Delete image"
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm6 0a1 1 0 11-2 0v6a1 1 0 112 0V8z"
                clip-rule="evenodd"
            />
        </svg>
    </button>
</div>