:host {
    --authen-background: linear-gradient(180deg,#aface2,#79e2e2);
    --authen-shadow: 0 6px 18px rgba(13, 14, 51, 0.926);
    display: block;
    position: absolute;
    width: 100%;

    --input-field-height: 40px;
}
